In [2]:
# beer dataset
import pandas as pd
beer = pd.read_csv('data.txt', sep=' ')
beer

                    name  calories  sodium  alcohol  cost
0              Budweiser       144      15      4.7  0.43
1                Schlitz       151      19      4.9  0.43
2              Lowenbrau       157      15      0.9  0.48
3            Kronenbourg       170       7      5.2  0.73
4               Heineken       152      11      5.0  0.77
5          Old_Milwaukee       145      23      4.6  0.28
6             Augsberger       175      24      5.5  0.40
7   Srohs_Bohemian_Style       149      27      4.7  0.42
8            Miller_Lite        99      10      4.3  0.43
9        Budweiser_Light       113       8      3.7  0.40
10                 Coors       140      18      4.6  0.44
11           Coors_Light       102      15      4.1  0.46
12        Michelob_Light       135      11      4.2  0.50
13                 Becks       150      19      4.7  0.76
14                 Kirin       149       6      5.0  0.79
15     Pabst_Extra_Light        68      15      2.3  0.38
16                 Hamms       139      19      4.4  0.43
17   Heilemans_Old_Style       144      24      4.9  0.43
18   Olympia_Goled_Light        72       6      2.9  0.46
19         Schlitz_Light        97       7      4.2  0.47

In [3]:
X = beer[["calories", "sodium", "alcohol", "cost"]]
X

    calories  sodium  alcohol  cost
0        144      15      4.7  0.43
1        151      19      4.9  0.43
2        157      15      0.9  0.48
3        170       7      5.2  0.73
4        152      11      5.0  0.77
5        145      23      4.6  0.28
6        175      24      5.5  0.40
7        149      27      4.7  0.42
8         99      10      4.3  0.43
9        113       8      3.7  0.40
10       140      18      4.6  0.44
11       102      15      4.1  0.46
12       135      11      4.2  0.50
13       150      19      4.7  0.76
14       149       6      5.0  0.79
15        68      15      2.3  0.38
16       139      19      4.4  0.43
17       144      24      4.9  0.43
18        72       6      2.9  0.46
19        97       7      4.2  0.47

In [4]:
from sklearn.cluster import KMeans
km2 = KMeans(n_clusters=2).fit(X)
km3 = KMeans(n_clusters=3).fit(X)
beer['cluster2'] = km2.labels_
beer['cluster3'] = km3.labels_
beer.sort_values('cluster2')

                    name  calories  sodium  alcohol  cost  cluster2  cluster3
0              Budweiser       144      15      4.7  0.43         0         1
1                Schlitz       151      19      4.9  0.43         0         1
2              Lowenbrau       157      15      0.9  0.48         0         1
3            Kronenbourg       170       7      5.2  0.73         0         1
4               Heineken       152      11      5.0  0.77         0         1
5          Old_Milwaukee       145      23      4.6  0.28         0         1
6             Augsberger       175      24      5.5  0.40         0         1
7   Srohs_Bohemian_Style       149      27      4.7  0.42         0         1
17   Heilemans_Old_Style       144      24      4.9  0.43         0         1
16                 Hamms       139      19      4.4  0.43         0         1
10                 Coors       140      18      4.6  0.44         0         1
12        Michelob_Light       135      11      4.2  0.50         0         1
13                 Becks       150      19      4.7  0.76         0         1
14                 Kirin       149       6      5.0  0.79         0         1
15     Pabst_Extra_Light        68      15      2.3  0.38         1         0
9        Budweiser_Light       113       8      3.7  0.40         1         2
18   Olympia_Goled_Light        72       6      2.9  0.46         1         0
8            Miller_Lite        99      10      4.3  0.43         1         2
11           Coors_Light       102      15      4.1  0.46         1         2
19         Schlitz_Light        97       7      4.2  0.47         1         2

In [6]:
beer.groupby("cluster2").mean()

            calories     sodium   alcohol      cost  cluster3
cluster2
0         150.000000  17.000000  4.521429  0.520714  1.000000
1          91.833333  10.166667  3.583333  0.433333  1.333333

In [7]:
beer.groupby("cluster3").mean()

          calories  sodium   alcohol      cost  cluster2
cluster3
0            70.00    10.5  2.600000  0.420000       1.0
1           150.00    17.0  4.521429  0.520714       0.0
2           102.75    10.0  4.075000  0.440000       1.0